.btns {
    animation-name: example;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: both;
    opacity: 0;

    @keyframes example {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    border: 1px solid $header-text-color;
    color: white;
    padding: 9px 20px;
    border-radius: 3px;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: transparent;

    &::before {
        content: "";
        background-color: $header-text-color;
        height: 100%;
        width: 0;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        @include transition(all 0.4s)
    }

    &:hover {
        text-decoration: none;
        color: $color-warning;

        &::before {
            left: 0%;
            right: initial;
            width: 100%;
        }
    }


}

.btn {
    padding: 5px;
    font-size: 14px;
    color: $header-text-color;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        background-color:rgba(255, 255, 255, 0.5);
        height: 100%;
        width: 2em;
        display: block;
        position: absolute;
        top: 0;
        left: -44px;
        -webkit-transform: skewX(-45deg) translateX(0);
        transform: skewX(-45deg) translateX(0);
        transition: all 0.3s ease-in-out;
        
    }
   &:hover{
       &::before{
        left: 90px;
       
       }
   }

}
.circle {
    background-color: #FFFFFF;
    border-radius: 100%;
    color: #FFBC09;
    position: relative;
    display: inline-block;
    margin-right: 25px;
    line-height: 50px;
    font-size: 18px !important;
    vertical-align: middle;
    margin-left: 0;
    height: 50px;
    width: 50px;
    text-align: center;


    &::before {
        animation: ripple 1.4s infinite;
        background-color: #ffffff;
        border-radius: 100%;
        margin: -20px;
        bottom: 0px;
        content: "";
        display: block;
        left: 0px;
        opacity: 0;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 1;
        animation-delay: 0.4s;


        @keyframes ripple {
            from {
                opacity: 0
            }

            to {
                opacity: 0.5;
            }
        }
    }
}