// Colors
$primary-color:#007BFF;
$color-success:#28a745;
$color-warning:#ffc107;
$color-danger:#dc3545;
$primary-black-color:#333333;
$secondary-black-color:#6b6b6b;
$opacity-color:rgba(37, 22, 22, 0.5);
$footer-text-color:#858585;
$header-text-color:#fff;


// Fonts
$primary-font:'Roboto', sans-serif;
$secondary-font:'Rubik', sans-serif;